<html>
    <head>
        <title>HOME</title>
    </head>
    <body>
        <header>
            <% if(locals.user){ %>
                <a href="/users/log-out">Log Out</a>
            <% }else{ %>
                <a href="/users/sign-up">Sign Up</a>
                <a href="/users/sign-in">Sign In</a>
            <% } %>
        </header>
        <div>
            <% if(locals.user){ %>
                <ul>
                    <% for(note of user.notes){ %>
                        <li><a href="/notes/get-notes/<%= note %>">My Notes</a></li>
                    <% } %>
                </ul>
                <a href="/notes/create-new">Create New Notes</a>
            <% } %>
        </div>
    </body>
</html>