<html>
    <head>
        <link rel="stylesheet" href="/css/notes.css">
        <%- style %>
    </head>
    <body>
        <%- include('_header') -%>
        <%- body %>
        <%- script %>
    </body>
</html>