<form action="/users/create-session" method="POST">
    <input type="text" name="email" required placeholder="abc@gmail.com">
    <input type="password" name="password" required placeholder="password">
    <input type="submit" value="submit">
</form>